
   .entriesTimeline {
    width: calc(100% - 80px);
    max-width: 1200px;
    margin: auto;

  }

  .entriesTimeline:before {
    content: '';
    position: fixed;
    top: 200px;
    left: calc(50% + 5px);
    bottom: 0px;
    transform: translateX(-50%);
    width: 4px;
    background-color: #fff;
  }


   .entriesTimeline .entryTimeline {
    width: calc(50% - 80px);
    padding: 20px;
    clear: both;
    text-align: right;
  }
   .entriesTimeline .entryTimeline:not(:first-child) {
    margin-top: -60px;
  }
   .entriesTimeline .entryTimeline .titleTimeline {
    font-size: 32px;
    margin-bottom: 12px;
    position: relative;
    color: #fff;
  }
   .entriesTimeline .entryTimeline .titleTimeline:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 4px solid #fff;
    background-color: #00d1b2;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: -73px;
    z-index: 1000;
  }
   .entriesTimeline .entryTimeline .titleTimeline.big:before {
    width: 24px;
    height: 24px;
    transform: translate(8px, calc(-50% + 5px));
  }
   .entriesTimeline .entryTimeline .bodyTimeline {
    color: #fff;
  }
   .entriesTimeline .entryTimeline .bodyTimeline li {
    height: 32px;
  }
   .entriesTimeline .entryTimeline:nth-child(2n) {
    text-align: left;
    float: right;
  }
   .entriesTimeline .entryTimeline:nth-child(2n) .titleTimeline:before {
    left: -63px;
  }
   .entriesTimeline .entryTimelineTimeline:nth-child(2n) .titleTimeline.big:before {
    transform: translate(-8px, calc(-50% + 5px));
  }
  